<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Pipelines.Loader.ShowVersion, Sitecore.Kernel">
          <assemblies hint="list:AddAssembly">
            <assembly hint="96640">/bin/Sitecore.Support.96640.dll</assembly>
          </assemblies>
        </processor>
      </initialize>
      <itemWebApiRequest>
        <processor type="Sitecore.Support.ItemWebApi.Pipelines.Request.FilterItems, Sitecore.Support.96640" patch:after="processor[@type='Sitecore.ItemWebApi.Pipelines.Request.ResolveItems, Sitecore.ItemWebApi']" />
        <processor type="Sitecore.Support.ItemWebApi.Pipelines.Request.FilterScope, Sitecore.Support.96640" patch:after="processor[@type='Sitecore.ItemWebApi.Pipelines.Request.ResolveScope, Sitecore.ItemWebApi']" />
      </itemWebApiRequest>
    </pipelines>
  </sitecore>
</configuration>